<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Persist Security Info=False;User ID=Agent;Password=Admin@123;Initial Catalog=Test;Data Source=VAIBHAV\SQLEXPRESS"/>
  </connectionStrings>

  <!--User Authentication-->
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="30" defaultUrl="~/Welcome.aspx" protection="All">
        <credentials passwordFormat="Clear">                  
        </credentials>
      </forms>
    </authentication>
    
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  
</configuration>